services:
  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: always

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: soya_odoo_db
      POSTGRES_PASSWORD: odoo_soya_secret
      POSTGRES_USER: odoo
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres-data:/var/lib/postgresql/data/pgdata
    ports:
      - "5434:5432"  # Changé à 5434 pour éviter le conflit avec postgres local
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U odoo -d soya_odoo_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    

  web:
    image: odoo:17.0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8069:8069"
      - "8072:8072"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./custom_addons:/mnt/extra-addons
      - ./config/odoo.conf:/etc/odoo/odoo.conf
    environment:
      - DB_HOST=db
      - DB_USER=odoo
      - DB_PASSWORD=odoo_soya_secret
    command: odoo -c /etc/odoo/odoo.conf -u soya_estate
    restart: always

volumes:
  postgres-data:
  odoo-web-data:
  redis-data:
